<!-- <div *ngIf="showLoader" style="height: 100vh;">
    <div class="loader"></div>
</div> -->
<div class="mainDiv">
    <div [ngClass]="drawerOpened ? 'show' : 'hide'" class="leftDrawer">
        <div style="text-align: center;
        margin-top: 35vh;" *ngIf="!questionList || questionList.length == 0">User has not asked any questions.</div>
        <div *ngFor="let question of questionList">
            <div class="monthDiv">{{question.month}}</div>
            <div class="questionDiv" *ngFor="let q of question.list">
                <span style="margin-right: 5px;"><img src="./../../../assets/Vector.svg" alt="question"/></span>
                <span (click)="openHistoryQuestion(q.questionId)" [title]="q.question"> {{reduceDataLength(q.question, 30)}}</span>
            </div>
        </div>
    </div>
    <div class="qaDiv">
        <div style="height: 35px;
        padding-top: 15px;">
            <span><img class="collapseImg" [src]="collapseImageSrc" (click)="openOrCloseDrawer()" (mouseover)="changeImgIcon()" (mouseout)="resetImgIcon()"/></span>
            <span style="font-size: 16px;
            font-weight: 700;line-height: 25px;"> KNOWLEDGE BASE</span>
            <span style="position: fixed;
            right: 0; cursor: pointer;" (click)="backToListPage()">
                <img width="40" height="40" src="./../../../assets/plus.svg" alt="cancel" />
            </span>
        </div>
        <div class="knowledgeSearchDiv">
            
            <div class="llmSelectDiv">
                <span class="qaSystemText">Q&A System: </span>
                <span class="qaName">{{qnaName}}</span>
            </div>
            <div class="knowledgeSearchText">
                <span><img class="filterImg" src="./../../../assets/executedFilter.svg" alt="filter image"></span>
                <span>Knowledge Search</span>
            </div>
            <div (click)="checkIfQuestionExist()" class="searchQuestionWrapperDiv">
                <div class="knowledgeSearchInputDiv">
                    <span>
                        <select class="qaName" style="
                        border: 1px solid #FF6666;
			border-radius: 7px;
			background-color: #FF6666;
			color: white;
                        height: 25px;
                        width: 180px;
                        margin-left: 5px;" [(ngModel)]="selectedLlm">
                            <option value="llm">Select LLM</option>
                            <option *ngFor="let llm of llmProviders" [value]="llm.id">{{llm.name}}</option>
                        </select>
                    </span>
                    <span>
                        <input type="text" class="knowledgeSearchInput" id="knowledgeInput" (click)="checkIfQuestionExist()" [(ngModel)]="question" (blur)="closeSampleQuestionDiv()" (keyup.enter)="askQuestion()" (keyup)="checkIfQuestionExist()" autocomplete="off" placeholder="Ask your question here">
                    </span>
                    <span (click)="askQuestion()" style="float: right;
                    margin-top: 5px; margin-right: 5px;">
                        <!-- <button type="submit" style="float: right" > -->
                            <img src='./../../../assets/send.svg' alt="send" /> 
                        <!-- </button> -->
                    </span>
                </div>
                <div *ngIf="true && showSampleQuestions && sampleQuestions && sampleQuestions.length" id="sampleQuestions" class="sampleQuestionDiv">
                    <div style="margin-bottom: 10px; padding: 5px; font-size: 15px; font-weight: 200; border-bottom: 1px solid #D3D3D3; text-transform: uppercase;">
                        Suggested Questions:
                    </div>
                    <div *ngFor="let question of sampleQuestions; let i = index" (mousedown)="setQuestion(question)" class="sampleQuestion">
                        {{question}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showResponseDiv">
            <div #scrollMe class="responseWrapperDiv">
                <div style="font-size: 18px; font-weight: 600; margin-bottom: 10px;">
                    AI Response
                </div>
                <div *ngIf="showLoader">
                    <div style="margin-top: 200px;" class="loader"></div>
                </div>
                <div *ngFor="let res of formattedResponse; let i = index" style="white-space: pre-wrap; font-size: 15px;">
                    <div class="hljsDiv" style="overflow: auto;" *ngIf="i % 2 == 1">
                        <textarea highlight-js options="{}">{{res}}</textarea>
                    </div>
                    <div *ngIf="i % 2 == 0">
                        {{res}}
                    </div>
                </div>
            </div>
            <div *ngIf="!showLoader" class="sourceListDiv" style="margin-left: 15px; margin-top: 30px;">Source
            <div *ngFor="let source of sourceData" class="sourceWrapperDiv">
                <a style="font-size: 12px; font-weight: 400; text-decoration: none; color: #0966CE;" [href]="source.link" [title]="source.link" target="_blank">{{reduceDataLength(source.link, 25)}}</a>
                <div class="sourceSampleText" (click)="openSource(source)" style="white-space: pre-wrap; margin-top: 10px; font-size: 12px; font-weight: 400; cursor: pointer;">{{reduceDataLength(source.data, 50)}}</div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- <div style="
    width: 400px;
    position: fixed;
    top: 10px;
    right: calc(50vw - 200px);
    border: 2px solid red;
    padding: 10px;
    height: fit-content;
    background: #ffccbb;
    border-radius: 5px;">
        question list
    </div> -->
